<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<header>
    <a href="/">
        <button id="home" class="navbar">
            Home
        </button>
    </a>
    <a href="/blogs">
        <button id="blogs" class="navbar">

            Blogs
        </button>
    </a>
    <a href="/write">
        <button id="write" class="navbar">
            Write
        </button>
    </a>
</header>

<body>