<%- include("partials/header.ejs") %>
<h1 class="homepage">This is a simple blog wirting website, the blogs are not persistant between sessions as there is no database used.</h1>

<%- include("partials/footer.ejs") %>